
body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}